pyheif
Pillow
piexifaltgraph==0.17
appdirs==1.4.4
bleach==3.2.1
certifi==2020.11.8
cffi==1.14.3
chardet==4.0.0
colorama==0.4.4
distlib==0.3.1
docutils==0.16
filelock==3.0.12
idna==2.10
keyring==21.8.0
macholib==1.14
packaging==20.8
piexif==1.1.3
pkginfo==1.6.1
pycparser==2.20
Pygments==2.7.4
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pyparsing==2.4.7
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.56.0
twine==3.3.0
urllib3==1.26.2
virtualenv==20.3.1
webencodings==0.5.1
whatimage==0.0.3
